.contenedor-general{
    display: flex;
    gap: 25px;
    width: 100%;
}

/* Columna donde van las dos gráficas */
.graficas{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Card derecha */
.card-derecha{
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

/* Gráficas */
.chart{
    width: 100%;
    height: 300px;
}

/* MAPA */
#map{
    width: 100%;
    height: 450px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
}
