<section class="logo">
    <div class="hero-content">
        <h1>Monitoreo de Salud</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmJZyHZ9upFTVGoKcLnd6v1l5ZUyTUltm_sA&s"
            alt="Imagen del logo" class="img-logo">
        <p>Frace que no se me ocurre ahorita</p>
    </div>
</section>

<section class="cards">
    <div class="card">
        <img src="https://m.media-amazon.com/images/I/41GWK4zItzL._AC_UF894,1000_QL80_.jpg" class="sensor-r">
        <h3>Sensor de Ritmo Cardiaco</h3>
        <h3>(Max30102)</h3>
    </div>

    <div class="card">
        <img src="https://m.media-amazon.com/images/I/31mU2HPValS.jpg" class="sensor-t">
        <h3>Sensor de Temperatura</h3>
        <h3>(Mlx90614)</h3>
    </div>
</section>
