.logo {
  background: #005cbb;
  color: white;
  padding: 120px 40px;
  text-align: center;
}

.img-logo {
  width: 700px;
  height: auto;
}

.sensor-r{
    height: 400px;
    width: 400px;
    align-items: center;
    display: block;
}

.sensor-t {
    height: 400px;
    width: 400px;
    align-items: center;
    display: block;
}

.cards {
  display: flex;
  gap: 20px;
  padding: 50px;
  background: #d7e3ff;
  justify-content: center;
  text-align: center;
}

